{% extends 'base.html.twig' %}

{% block title %}Tracks - {% endblock %}

{% block body %}
    <div class="container mb-5">
        <div class="row">
            <div class="main-title-container col-12 d-flex align-items-center justify-content-center">
                <h1 class="main-title">TRACK DETAILS</h1>
            </div>
        </div>

        <div class="mb-3">
            <a href="{{ path("app_track_index") }}">
                <button class="btn btn-danger">Back</button>
            </a>
        </div>

        <div class="card bg-primary bg-opacity-25 semitransparent mb-3 text-white">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ track.picture }}"
                         class="img-fluid rounded-start img-ratio"
                         alt="{{ track.title }} cover picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title mb-3">{{ track.title }}{% if track.artist %} - {{ track.artist }}{% endif %}</h3>
                        <h4 class="card-title">Difficulty</h4>
                        <p class="card-text">{{ track.difficulty }}/3</p>
                        <h4 class="card-title">Notes</h4>
                        <p class="card-text">{{ track.notes }}</p>
                        <h4 class="card-title">Keys</h4>
                        <p class="card-text">{{ track.letters }}</p>
                        <div class="d-flex justify-content-end gap-3">
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SYNTHER') %}
                                <a href="{{ path("app_track_edit", {'id': track.id}) }}">
                                    <button class="btn btn-danger mt-2">Edit</button>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ include('track/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 mb-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="youtube-container pink-shadow">
                    <iframe src="https://www.youtube.com/embed/{{ track.youtube }}" class="youtube-video"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
