<div
        class="modal fade"
        id="loadModal"
        tabindex="-1"
        aria-labelledby="loadModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadModalLabel">Load track</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select id="load-selector" class="form-select">
                    <option value="none" selected>Choose a track to load...</option>
                    {% for track in tracks %}
                        <option value="{{ track.id }}">{{ track.title }}{% if track.artist %} - {{ track.artist }}{% endif %}</option>
                    {% endfor %}
                </select>
                {% for track in tracks %}
                    <div id="track_{{ track.id }}" class="tracks-to-load d-none mt-4">
                        <h5 class="card-title">Difficulty:</h5>
                        <p class="card-text">{{ track.difficulty }}/3</p>
                        <h5 class="card-title">Notes:</h5>
                        <p class="card-text">{{ track.notes }}</p>
                        <h5 class="card-title">Keys:</h5>
                        <p class="card-text">{{ track.letters }}</p>
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary mt-4 text-white" data-bs-dismiss="modal"
                       id="load-button">Load</a>
                </div>
            </div>
        </div>
    </div>
</div>
