<div id="mySidenav" class="sidenav bg-transparent semitransparent pink-shadow overflow-scroll">
    <a id="closeBtn" href="#" class="close">×</a>
    <ul>
        <li class="mb-5">
            <a href="{{ path("app_home") }}">Home</a>
        </li>
        <li>
            {% if not is_granted('ROLE_USER') %}
                <a href="{{ path("app_login") }}">Login</a>
            {% else %}
                <a href="{{ path("app_logout") }}">Logout</a>
            {% endif %}
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path("app_admin_index") }}">Admin</a>
            </li>
        {% elseif is_granted('ROLE_SYNTHER') %}
            <li>
                <a href="{{ path("app_user_profile_index") }}">My profile</a>
            </li>
        {% endif %}
        <li class="mt-5">
            <a href="{{ path("app_synth_index") }}">Synth</a>
        </li>
        <li class="mb-5">
            <a href="{{ path("app_track_index") }}">Tracklist</a>
        </li>
        <li>
            <a href="{{ path("app_nkultra_index") }}">NK ULTRA (who?)</a>
        </li>
        <li>
            <a href="" data-bs-toggle="modal" data-bs-target="#infoModal">ReadMe</a>
        </li>
        <li class="mb-5">
            <a href="" data-bs-toggle="modal" data-bs-target="#notesModal">Notes table</a>
        </li>
        <li class="mb-5">
            <a href="https://github.com/ghartemann/checkpoint-4-shitty-synth-2000" target="_blank">$this->getGithub</a>
        </li>
        <li>
            <a href="https://ghartemann.fr/" target="_blank">ghartemann.fr</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/ghartemann/" target="_blank">LinkedIn</a>
        </li>
    </ul>
</div>

<a href="#" id="openBtn">
    <span class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
    </span>
</a>

{{ include('_components/_sidenav_readme.html.twig') }}
{{ include('_components/_sidenav_notes_info.html.twig') }}
